<h1>Clear-Reality Inquiry List</h1>
<p>&nbsp;</p>
<a href="[% c.uri_for("/clear/add") %]">[NEW INQUIRY]</a>
[% WHILE (clear = clears.next) %]
[% SET clear_id = clear.id %]
<div class="clear">
  <p class="content">
  <h3>[% clear.situation %]</h3>
  </p>
  <p class="ops">
    <a href="[% c.uri_for("/clear/$clear_id/edit") %]">[edit]</a>
    <a href="[% c.uri_for("/clear/$clear_id/view") %]">[view]</a>
  </p>
</div>
<hr>
[% END %]

