[% META title = 'Inquiry ' %]
[% SET inquiry_id = inquiry_obj.id %]
[% SET inquiry_id = inquiry_obj.inquiry_id %]
<h3>[% inquiry_obj.id %]</h3>
<h3>[% inquiry_obj.inquiry %]</h3>
<h3>[% inquiry_obj.b2_users.fname %] [% inquiry_obj.b2_users.lname %]</h3>
<h3>[% inquiry_obj.created %]</h3>

<a href="[% c.uri_for("/inquiry/$inquiry_id/inquiry/list") %]">[LIST]</a>
<a href="[% c.uri_for("/inquiry/$inquiry_id/inquiry/add") %]">[ADD INQUIRY]</a>
