[% META title = 'Situations ' %]
[% SET situation_id = situation_obj.id %]
[% SET inquiry_id = inquiry_obj.inquiry_id %]
<h3>[% situation_obj.id %]</h3>
<h3>[% situation_obj.situation %]</h3>
<h3>[% situation_obj.b2_users.fname %] [% situation_obj.b2_users.lname %]</h3>
<h3>[% situation_obj.created %]</h3>

<a href="[% c.uri_for("/inquiry/$inquiry_id/situation/list") %]">[LIST]</a>
<a href="[% c.uri_for("/inquiry/$inquiry_id/situation/add") %]">[ADD SITUATION]</a>
